<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.melizersoy.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignUpAtivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".EventActivity" />
        <activity android:name=".SearchEventActivity" />
        <activity android:name=".SearchUserActivity" />
        <activity android:name=".AddEventActivity" />
        <activity android:name=".NotificationsActivity" />
        <activity android:name=".SuggestionsActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".InvitationsActivity"></activity>
    </application>

</manifest>